$clock-color: #2926da;
.digit-clock-container {
  grid-template-rows: 400px auto;
  border: 1px solid $clock-color;
  margin: 10px;

  .section {
    padding: 80px;

    &.clock {
      display: flex;
      justify-content: center;
      font-size: 40px;
    }
  }
}