<div class="analog-clock-container">
    <div class="clock section">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
                <line id="second" class="stick second" y1="93" transform="translate(0,7.5)" />
                <line id="minute" class="stick minute" y1="70" transform="translate(0,7.5)" />
                <line id="hour" class="stick hour" y1="50" transform="translate(0,7.5)" />
            </defs>

            <g transform="translate(150,152.5)">
                <circle r="97.5" class="circle" />
                <use xlink:href="#hour" [ngStyle]="{'transform': 'rotate(' + hourDegree +'deg)'}" />
                <use xlink:href="#minute" [ngStyle]="{'transform': 'rotate(' + minuteDegree +'deg)'}" />
                <use xlink:href="#second" [ngStyle]="{'transform': 'rotate(' + secondDegree +'deg)'}" />
            </g>

        </svg>
    </div>

</div>