$clock-color: #2926da;

.analog-clock-container {
  display: grid;
  grid-template-rows: 400px auto;
  border: 1px solid $clock-color;
  margin: 10px;

  .section {
    padding: 30px;

    &.clock {
      display: flex;
      justify-content: center;

      .circle {
        stroke: $clock-color;
        stroke-width: 10px;
        fill: none;
      }

      .stick {
        stroke: $clock-color;

        &.second {
          stroke-width: 2px;
        }

        &.minute {
          stroke-width: 6px;
        }

        &.hour {
          stroke-width: 12px;
        }
      }
    }
  }
}