$padding: 8px;
$clock-color: #2926da;
.app-container {
  display: flex;
  justify-content: center;
  margin: 10px;
  

  .text {
    padding-left: 40px;
    padding-top: 10px;
    font-size: 20px;
    color: #2926da;
  }
}