<div class="app-container">
  <app-analog-clock></app-analog-clock>
  <app-digit-clock></app-digit-clock>
  <div class="setting section">
    <ng-container *ngIf="whichClock==1 || whichClock == 0; then analog; else digit "></ng-container>
    <ng-template #analog>
      <div>
        <app-clock-setting [hour]="analogHour | async" [minute]="analogMinute | async" [second]="analogSecond | async"
          (hourChanged)="onHourChanged($event)" (minuteChanged)="onMinuteChanged($event)"
          (secondChanged)="onSecondChanged($event)" (updateAllData)="onUpdateAll($event)" (flag)="choose($event)">
        </app-clock-setting>
        <div class="text">Adjust analog clock only (Sync (default): synchronize clocks)</div>
      </div>
    </ng-template>
    <ng-template #digit>
      <div>
        <app-clock-setting [hour]="digitHour | async" [minute]="digitMinute | async" [second]="digitSecond | async"
          (hourChanged)="onHourChanged($event)" (minuteChanged)="onMinuteChanged($event)"
          (secondChanged)="onSecondChanged($event)" (updateAllData)="onUpdateAll($event)" (flag)="choose($event)">
        </app-clock-setting>
        <div class="text">Adjust digit clock only (Sync (default): synchronize clocks)</div>
      </div>
    </ng-template>

  </div>

</div>