<div class="clock-setting-container">
    <div class="hour setting">
        <div class="increase button" (click)="onHourIncrease()">+</div>
        {{hour}}
        <div class="decrease button" (click)="onHourDecrease()">-</div>
    </div>
    <div class="minute setting">

        <div class="increase button" (click)="onMinuteIncrease()">+</div>
        {{minute}}
        <div class="decrease button" (click)="onMinuteDecrease()">-</div>
    </div>
    <div class="second setting">

        <div class="increase button" (click)="onSecondIncrease()">+</div>
        {{second}}
        <div class="decrease button" (click)="onSecondDecrease()">-</div>
    </div>

    <div class="clock setting">
        <mat-radio-group aria-label="Select an option" [(ngModel)]="whichClock">
            <mat-radio-button class="tp-radio-button" (change)="updateAll()" [value]="0">Sync</mat-radio-button>
            <mat-radio-button class="tp-radio-button" (change)="choose(1)" [value]="1">Analog Mode</mat-radio-button>
            <mat-radio-button class="tp-radio-button" (change)="choose(2)" [value]="2">Digit Mode</mat-radio-button>
        </mat-radio-group>
    </div>

</div>