.clock-setting-container {

    display: flex;
    justify-content: center;
  
    .setting {
      margin: 10px;
      padding-top: 10px;
      padding-left: 30px;
  
      .button {
  
        display: flex;
        justify-content: center;
        line-height: 20px;
        width: 20px;
        height: 20px;
        border: 1px solid gray;
        cursor: pointer;
        &:hover {
          background-color: rgb(192, 192, 192);
        }
      }
    }
  }

  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  